
			<hr>

			<footer>
				<p><a href="http://www.rockyniu.com/" target="_blank">RockyNiu</a> 2014</p>
			</footer>

		</div>
	</body>

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</html>
